.veda-container{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    height: 535px;
    text-align: justify;
    background-color: var(--secondary-color);
    padding:35px;
    margin: 10px 30px 30px 10px;
    border-radius: 10px;
}
.veda-container{
    display: flex;
    flex-direction: column;
    height: 530px;
    
}
.veda{
    border-radius: 17px;
    background-color: var(--primary-color);
}

h2{
    font-weight: normal;
}
.veda-header{
    padding-bottom: 1px;
    border-bottom: 0.5px solid black;
}

#messages{
    margin-top: auto;
    padding-bottom: 10px;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: none;
}

.messages-bottom{
    display: flex;
    height: 60px;
    background-color: white;
    align-items: center;
    border-radius: 30px;
}


.messages-bottom img{
    width: 40px;
    height: 40px;
    padding: 20px 10px 20px 20px;
}

#veda-input{
    font-size: 1.1rem;
    outline: none;
    width: 100%;
    padding: 10px;
    border: 0;
}

#send{
    width: 45px;
    height: 45px;
    cursor: pointer;
}
#send:hover{
    opacity: 0.75;
}

.bot-message{
    padding: 10px;
    margin: 2px;
}

.bot-message div{
    width: fit-content;
    font-size: 1rem;
    background-color: var(--accent);
    padding: 15px 20px;
    border-radius: 18px;
    color: white;
    max-width: 60%;
    animation: floatup .5s forwards;
}

.user-message{
    padding: 10px;
    margin: 2px;
}

.user-message div{
    margin-left: auto;
    margin-right: 0;
    font-size: 1rem;
    max-width: 50%;
    width: fit-content;
    background-color: white;
    padding: 15px 20px;
    border-radius: 18px;
    color: black;
    animation: floatup .5s forwards
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.chat-bar-bottom{
    height:100px;
    width: 200px;
}

